
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Fredoka:wght@300;400&family=Roboto:wght@500&display=swap');


.form-profile {

    display: flex;
    justify-content: center;
    align-items:center;
  }
/* 
  .labels{
    align-content: center;
    margin-bottom: 10px;
    font-family: Fredoka;
} */
 


.data-cont{
    
    display:inline-flex;
    flex-direction:column;
    justify-content: left;   
    align-items: left;
    
}
  
.profile-cont{
    display:flex;
    flex-direction:column;
    justify-content: right;   
    align-items: right;   

    padding: 5% 5% 5% 25%;

}


.controls {  
    border-radius: 12px;
    width: 22em;
    height: 2.5em;
    border: 1px solid #000000;
    margin-bottom: 7%;
    padding: 11px 10px;
    background: #ffffff;
    font-size: 14px;
    font-weight: bold;
  }
  
.box{
  margin: 1%;
}


.contenedor-imagen{
  margin-bottom:1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#div_file{
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:row ;
}

