@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
 
 .active{
    color: rgb(49, 228, 183);
    font-weight: bold;
} 

.notActive{
    color: #989ba8;
}


header {
    background-color:#000000;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 30px 10%;
    border: black;
}

.logo{
    cursor: pointer;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color:rgb(49, 228, 183);
   
}

